In [1]:
import pandas as pd
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'area': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
countries_df.to_csv('data/countries.csv', index=False, sep=';')

In [ ]:
import pandas as pd
melb_data = pd.read_csv('data/melb_data.csv', sep=',')
display(melb_data.head(2))
# melb_data.shape
# melb_data.info()
# melb_data.describe().loc[:, ['Distance', 'Price', 'BuildingArea']]
# melb_data.describe(include='object').loc[:, ['Regionname']]
# melb_data.describe(include='object')
# melb_data['YearBuilt'].value_counts().head(12)
# melb_data['YearBuilt'].value_counts(normalize=True)
# melb_data['Bedroom'].mode()

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,202.0,126.0,1970.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0,"-37.8079, 144.9934"

0    3.0
Name: Bedroom, dtype: float64

In [ ]:
import pandas as pd
melb_data = pd.read_csv('data/melb_data.csv', sep=',')
# display(melb_data.head(2))
# melb_data[melb_data['Price'] > 6000000]
# melb_data[melb_data['Bedroom'] > 5].shape
# melb_data[((melb_data['Price'] < 300000) & (melb_data['Distance'] < 10) & (melb_data['Car'] > 0))].shape[0]
# melb_data[melb_data['Type'] == 't']['Rooms'].min()
# higher = melb_data['Price'] > melb_data['Price'].mean()
# melb_data[higher]['BuildingArea'].median()
# melb_data[melb_data['Bathroom'] == 0].shape[0]
# melb_data[(melb_data['SellerG'] == 'Nelson') & (melb_data['Price'] > 3000000)].shape[0]
# melb_data[melb_data['BuildingArea'] == 0]['Price'].min()
# melb_data[((melb_data['Rooms'] > 5) | (melb_data['YearBuilt'] > 2015)) & (melb_data['Price'] < 1000000)]['Price'].mean()
# melb_data[(melb_data['Type'] == 'h') & (melb_data['Price'] < 3000000)]['Regionname'].describe(include=['object'])

count                      9220
unique                        8
top       Northern Metropolitan
freq                       2737
Name: Regionname, dtype: object