In [56]:
import pandas as pd
nlo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv', sep=',')
nlo_work = nlo.copy()
nlo_work['Time'] = pd.to_datetime(nlo_work['Time'])
nlo_years = nlo_work['Time'].dt.year
# display(nlo_work.head())
# print(nlo_years.value_counts())
nlo_nv = nlo_work[nlo_work['State'] == 'NV']
nlo_nv['Days'] = nlo_nv['Time'].dt.date.diff()
display(nlo_nv.head())
print(nlo_nv['Days'].mean())

C:\Users\HP\AppData\Local\Temp\ipykernel_21892\3665440039.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nlo_nv['Days'] = nlo_nv['Time'].dt.date.diff()

,City,Colors Reported,Shape Reported,State,Time,Days
76,Las Vegas,NaN,DISK,NV,1947-07-15 10:00:00,NaT
172,Nellis AFB,NaN,DISK,NV,1952-02-17 18:00:00,1678 days
565,Fallon,NaN,OVAL,NV,1959-09-15 00:00:00,2767 days
566,Goldfield,NaN,LIGHT,NV,1959-09-15 01:00:00,0 days
613,NaN,NaN,DISK,NV,1960-07-01 12:00:00,290 days

68 days 22:18:13.992932862